{% extends "base.html" %}{% block title %}{{book.title}}{% endblock %}{% block content %}
<div class="row justify-content-center">
    <div class="col-6 text-center">
        <h1>{{book.title}}</h1>
    </div>
</div>
<div class="container">
    <div class="row justify-content-evenly">
        <div class="col-12 col-lg-4">
            <p><span class="bold">Titre</span> : {{book.title}}</p>
            <p><span class="bold">Auteur(s)</span> :
                {% for author in book.authors %}
                {{author.name}}
                {% endfor %}
            </p>
            <p><span class="bold">Catégorie(s) </span> :
                {% for category in book.categories %}
                {{category.name}}
                {% endfor %}
            </p>
            <p>Résumé : {{book.summary}}</p>
            {% if book.is_in_reading_list %}
            <div class="mb-3">
                <form action="/lists/reading-list/remove" method="POST">
                    <input type="hidden" value="{{book.id}}" name="book_id">
                    <button type="submit" class="btn btn-primary">Retirer à ma liste de lecture</button>
                </form>
            </div>
            {% else %}
            <div class="mb-3">
                <form action="/lists/reading-list/add" method="POST">
                    <input type="hidden" value="{{book.id}}" name="book_id">
                    <button type="submit" class="btn btn-primary">Ajouter à ma liste de lecture</button>
                </form>
            </div>
            {% endif %}
            {% if book.is_in_read_list %}
            <div class="mb-3">
                <form action="/lists/read-list/remove" method="POST">
                    <input type="hidden" value="{{book.id}}" name="book_id">
                    <button type="submit" class="btn btn-primary">Retirer de ma liste de livres lus</button>
                </form>
            </div>
            {% else %}
            <div class="mb-3">
                <form action="/lists/read-list/add" method="POST">
                    <input type="hidden" value="{{book.id}}" name="book_id">
                    <button type="submit" class="btn btn-primary">Ajouter à ma liste de livres lus</button>
                </form>
            </div>
            {% endif %}
            {% if book.is_in_progress %}
            <div class="mb-3">
                <form action="/lists/reading-in-progress-list/remove" method="POST">
                    <input type="hidden" value="{{book.id}}" name="book_id">
                    <button type="submit" class="btn btn-primary">Retirer de mes lectures en cours</button>
                </form>
            </div>
            {% else %}
            <div class="mb-3">
                <form action="/lists/reading-in-progress-list/add" method="POST">
                    <input type="hidden" value="{{book.id}}" name="book_id">
                    <button type="submit" class="btn btn-primary">Ajouter à mes lectures en cours</button>
                </form>
            </div>
            {% endif %}
        </div>
        <div class="col-12 col-lg-4">
            <img style="height:300px" src={{book.image_link}}>
        </div>
    </div>
</div>
{% endblock %}