{% extends 'templateUser.html' %}

{% block content %}
<div class="bg-light rounded-3 mb-4 p-5">
    <div class="container-fluid py-5">
        <h1 class="text-center fw-bold display-5">Welcome Home!</h1>
    </div>
    <div class="row" id="books">

    </div>
</div>

<script>

    fetch("http://localhost:5000/getBooks").then((res) => res.json()).then(res => displayBooks(res));



    function displayBooks(books) {
        const booksHTML = books.map((book) => {

            let html = '<div class="col-10 col-md-6 col-lg-4 my-3">';
            html += '<div class=" border-dark card my-3" style="width: 20rem;">';
            html += '<div class="">';
            html += `<h4 class='card-title'>Title : ${book.title}</h5>`;
            html += `<h5 class='card-title'>Author : ${book.author}</h5>`;
            html += `<btn  data-id=${book.id} onclick="editBook(this)" class="btn btn-primary">Edit</btn>`;
            html += " </div></div></div>";
            return html;
        });

        const books_div = document.getElementById("books");

        for (const book of booksHTML) {
            books_div.innerHTML += book;
        }



    }

    function editBook(element) {

        console.log(element)
        const id = element.getAttribute('data-id');
        console.log(id);
        getBook(id);
    }



    function getBook(id) {
        fetch("http://localhost:5000/getBookById", {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({
                id: id
            })
        }).then(res => res.json()).then(res => console.log(res))
    }


</script>

{% endblock %}