{% extends 'template.html' %}

{% block content %}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center">Books Rating App</h1>
        <div class="row justify-content-center">
            <div class="col-6">
                <form id="form-signin" action="/api/signup" method="POST">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="inputName" name="inputName" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" name="inputEmail" required="required">
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="inputPassword" name="inputPassword"
                            required="required">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign up
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document
        .querySelector("#form-signin")
        .addEventListener("submit", async function (e) {
            e.preventDefault();
            console.log(new URLSearchParams(new FormData(e.target)).toString());
            const res = await fetch("/api/signup", {
                body: new URLSearchParams(new FormData(e.target)).toString(),
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
            });
            console.log(await res.json());
        });
</script>

{% endblock %}