{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div class="container">
    <div class="row my-5 justify-content-center">
        <h1 class="text-center"></h1>
        {% for book in books %}
        <div class="col-12 col-sm-6 col-lg-4 my-3">
            <div class="card">
                <img width=90% src={{book.image_link}} style="height:200px; width:100%;object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title"><a href="/books/{{book.id}}">{{book.title}}</a></h5>
                    {% if book.authors|length > 0 %}
                    <h6>Auteur(s):</h6>
                    {% for author in book.authors %}
                    <p class="card-text">{{author.name}}</p>
                    {% endfor %}
                    {% else %}
                    <p>Auteur non renseigné</p>
                    {% endif %}
                    {% if book.categories|length > 0 %}
                    <h6>Catégories:</h6>
                    {% for category in book.categories %}
                    <p class="card-text">{{category.name}}</p>
                    {% endfor %}
                    {% else %}
                    <p>Catégories non renseignées</p>
                    {% endif %}

                    {% if book.is_in_reading_list %}
                    <a href="/books/reading-list/remove/{{book.id}}" class="btn btn-primary">Retirer liste de
                        lecture</a>
                    {% else %}
                    <a href="/books/reading-list/add/{{book.id}}" class="btn btn-primary">Ajouter liste de lecture</a>
                    {% endif %}
                    
                </div>
            </div>
        </div>;
        {% endfor %}
    </div>
</div>
{% endblock %}