{% extends "base.html" %}{% block title %} Login {% endblock %}{% block content %}
<div class="row justify-content-center m-3">
    <div class="col-6">
        <h3 align="center">Login</h3>
        <form method="POST">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{form.username.label}}
                {{form.username(class="form-control")}}
            </div>
            <div class="mb-3">
                {{form.password.label}}
                {{form.password(class="form-control")}}
            </div>
            {{form.show_password()}}
            {{form.show_password.label}}
        </form>
        <div align="center">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        </form>
    </div>
</div>
<script src="{{url_for('static', filename='password_input.js')}}"></script>
{% endblock %}
